<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">{{label}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-route="/home" ng-class="{ active: isActive('/')}"><a href="#!/">Главная <span class="sr-only">(current)</span></a></li>
        <li ui-route="/docs" ng-class="{ active: isActive('/docs')}"><a href="#!/docs">Документы <span class="sr-only">(current)</span></a></li>        
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/user/'+loggedUser.userId)}"><a href="#!/user/{{loggedUser.userId}}">{{loggedUser.name}}</a></li>
        <!-- Single button with keyboard nav -->
        <li dropdown keyboard-nav>
            <a href="#" dropdown-toggle>
                Настройки <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem"><a href="#!/">Главная</a></li>                
                <li role="menuitem"><a href="#!/user/{{loggedUser.userId}}">Профиль</a></li>
                <li role="menuitem"><a href="#!/admin">Панель управлeния</a></li>
                <li class="divider"></li>
                <li role="menuitem" ui-route="/signout"><a href="#" ng-click="signout()">Выйти</a></li>
            </ul>
        </li>                 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>