<div amidocs-menu menu-title="AmiDocs"></div>
<div ng-controller="ProfileController">
<h2>Детальная информация о пользователе:</h2>
<form role="form" name="userInfoForm" ng-submit="submit()">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Общие данные:</h3>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="userId">User ID</label>
        <input type="text" class="form-control" id="userId" disabled="true" ng-model="loggedUser.userId">  
     </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" class="form-control" id="login" ng-model="loggedUser.userLogin" disabled="true">  
      </div>
    </div>  
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="surname">Фамилия</label>
        <input type="text" class="form-control" id="surname" placeholder="Введите фамилию" ng-model="loggedUser.surname"> 
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="name" placeholder="Введите имя" ng-model="loggedUser.name">  
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="lastname">Отчество</label>
        <input type="text" class="form-control" id="lastname" placeholder="Введите отчество" ng-model="loggedUser.lastname">  
       </div>
    </div>
  </div>
    
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Контактная информация</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Введите email" ng-model="loggedUser.email">
      </div>     
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Роли и группы</h3>
  </div>
  <div class="panel-body">
    
    <div class="row">
      <div class="col-md-6">
         <div class="form-group">
          <label for="roles">Роли</label>
          <input type="text" class="form-control" id="roles" ng-model="loggedUser.roles" disabled="true">  
         </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="groups">Группы</label>
          <input type="text" class="form-control" id="groups" ng-model="loggedUser.groups">
         </div>      
      </div>
    </div>
    <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="status">Статус</label>
        <input type="text" class="form-control" id="status" ng-model="loggedUser.state">
      </div>
    </div>      
    </div>
  </div>
</div>
 
 <button type="submit" class="btn btn-primary">Сохранить</button>
 <p>{{testVar}}</p>
</form>
</div>