<p class="input-group">
	<input  type="text" 
			class="form-control" 
			datepicker-popup="{{format}}" 
			ng-model="document.receipt_date" 
			is-open="status.opened" 
			min-date="minDate" 
			max-date="maxDate" 
			datepicker-options="dateOptions" 
			date-disabled="disabled(date, mode)" 
			ng-required="true" 
			close-text="Закрыть"
			current-text="Сегодня"
			clear-text="Очистить" />
	<span class="input-group-btn">
		<button type="button" 
				class="btn btn-default" 
				ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</p>