<div amidocs-menu menu-title="AmiDocs"></div>
<div ng-controller="DocumentsController as DocCtrl">
	<div class="container">
		<div class="row">
			<div class="well">
				<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
			      <a href="#!/docs" 
			      	 class="btn btn-success" 
			      	 role="button" 
			      	 ng-click="DocCtrl.createNewDoc('lg')">Создать</a>
			      <a href="#!/docs" 
			      	 class="btn btn-warning" 
			      	 role="button"
			      	 ng-disabled="!DocCtrl.selectedDocument"
			      	 ng-click="!DocCtrl.selectedDocument || DocCtrl.editDocument('lg')">Изменить</a>
			      <a href="#!/docs" 
			      	 class="btn btn-danger" 
			      	 role="button"
			      	 ng-disabled="!DocCtrl.selectedDocument"
			      	 ng-click="!DocCtrl.selectedDocument || DocCtrl.deleteDocument('lg')">Удалить</a>
			      <a href="#!/docs" 
			      	 class="btn btn-info" 
			      	 role="button"
			      	 ng-click="DocCtrl.refreshDocsList()">Обновить</a>
			    </div>
			</div>	
			</div>
			<div class="row" cg-busy="[DocCtrl.Documents]">
				<table class="table table-hover">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>Номер</th>
			          <th>Наименовние</th>
			          <th>Дата регистрации</th>
			          <th>Статус</th>
			          <th>Создал</th>	          			          
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="document in DocCtrl.Documents"
			        	class="noselect" 
			        	ng-class="{'success': DocCtrl.documentCheck(document._id)}"
			        	data-documentId="{{document._id}}"
			        	data-selected-document = "DocCtrl.selectedDocument"
			        	data-edit-document="DocCtrl.editDocument"			        	
			        	document-selected>

			          <td>{{$index+1}}</td>
			          <td>{{document.doc_number}}</td>
			          <td>{{document.title}}</td>
			          <td>{{document.receipt_date | date: 'dd-MM-yyyy'}}</td>
			          <td>{{document.status}}</td>
			          <td>{{document.creator_id}}</td>

			        </tr>		               
			      </tbody>
				</table>			
			</div>	
		</div>
</div>