<div cg-busy="document">
	<div class="modal-header">
	    <h3 class="modal-title">Редактировать документ</h3>
	</div>
	<div class="modal-body">
	    <form role="form" name="editDocForm">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Общие данные:</h3>
			  </div>
			  <div class="panel-body">
			  <div class="row">
			    
			    <div class="col-md-6">
			      <div class="form-group">
			        <label for="doc_number">Номер документа</label>
			        <input  type="text" 
			        	    class="form-control" 
			        		id="doc_number" 
			        		placeholder="Введите номер документа" 
			        		ng-model="EditDocCtrl.document.doc_number" 
			        		required>  
			      </div>
			    </div> 

			    <div class="col-md-6">
			      <div class="form-group" ng-class="verifyPassword">
			        <label for="title">Наименование</label>
			        <input  type="text" 
			        		class="form-control" 
			        		id="title" 
			        		placeholder="Введите наименование" 
			        		ng-model="EditDocCtrl.document.title" 
			        		required>  
			      </div>
			    </div>		     

			  </div>

			  <div class="row">
			    <div class="col-md-6">
			      <div class="form-group">
			        <label for="receipt_date">Дата регистрации</label>
			        <get-calendar document="EditDocCtrl.document"></get-calendar>
			      </div>
			    </div>
			    
			    <div class="col-md-6">
			      <div class="form-group">
	                <label for="status">Статус</label>
	                <select class="form-control"
	                        ng-model="EditDocCtrl.document.status"
	                        convert-to-number
	                        required>
	                            <option value="0">Не выполнен</option>
	                            <option value="1">Выполнен</option>
	                </select>                 
	              </div>
			    </div>

			    
			  </div>
			  <div class="row">
			  	<div class="col-md-6">
			      <div class="form-group">
			        <label for="creator_id">Создал</label>
			        <input  type="text"
			        		disabled="true" 
			        		class="form-control" 
			        		id="lastname" 
			        		placeholder="Кто создал документ" 
			        		ng-model="EditDocCtrl.document.creator_id">  
			       </div>			       
			    </div>
			  </div>
			  <div class="row">
			  	<div class="col-md-12">
			  		<div class="form-group">
	                <label for="description">Описание</label>
	                
	                <textarea class="form-control" 
	                          rows="6"
	                          id="description"
	                          ng-model="EditDocCtrl.document.description"></textarea>
	               </div>
			  	</div>
			  </div>
			    
			  </div>
			</div>			
		</form>        
	</div>
	<div class="modal-footer">
		<div class="pull-left" ng-class="messageClass">{{message}}</div>

	    <button class="btn btn-primary" 
	    		type="button" 
	    		ng-click="EditDocCtrl.applyChanges()" 
	    		ng-disabled="">Сохранить</button>
	    <button class="btn btn-warning" 
	    		type="button" 
	    		ng-click="EditDocCtrl.cancel()">Отмена</button>
	</div>
</div>